.Header {
    background-color: #7b8bac;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px black;
}

.Header_h1 {
    margin: 0 24px 0 24px;
    padding: 0;
    height: fit-content;
}

.Header_username {
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: 16px;
}