.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #374766;
  display: flex;
  flex-direction: column;
  color: white;
}

button {
  width: 8em;
  height: 2em;
  margin: 4px 1px;
  border: none;
  border-radius: 5px;
  background-color: #374766;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #3747aa;
}